<!-- {{ user | json }} -->

<h4 appHighlight [favColor]="'#ff45ff'" >
  {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</h4>

<!-- <p [ngClass]="['my-border', 'my-feature']">Date of Birth : <span [innerText]="user.dob"></span></p> -->
<button class="btn btn-sm btn-light" (click)="onToggleClasses()">Toggle</button>
<p [ngClass]="dynamicClasses">
  Date of Birth : <span [innerText]="user.dob | date : 'dd/MM/yyyy'"></span></p>

<p [ngStyle]="dynamicStyles" *ngIf="user.isWorking;else userNotWorking">
  Income : {{ user.income | currency : 'INR' }}</p>


<p>Total Votes :{{ user.votes }}</p>
<input
  type="number"
  [value]="user.votes"
  (change)="user.votes = $event.target.value"
/>
<input type="number" [(ngModel)]="user.votes" />

<ng-template #userNotWorking>
  <p>Mr. {{user.lastName}} is NOT working now.</p>
</ng-template>
<hr>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active : tab === 1}" (click)="tab=1">Show Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active : tab === 2}" (click)="tab=2">Comment Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active : tab === 3}" (click)="tab=3">Description</a>
  </li>
</ul>

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let comment of user.comments">
        <strong>Stars : {{comment.stars}}</strong>
        <blockquote>{{comment.body}}<cite class="float-right">-{{comment.author}}</cite></blockquote>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="2">Comment form coming soon...</div>
  <div *ngSwitchCase="3">More information about user...</div>
  <div *ngSwitchDefault>Default Case</div>
</div>
