<div class="container">
<p class="display-4 text-center">Pipe Demo Component</p>

<h4>Promise API : {{ promise | async }} </h4>

<h4>Contact Number : {{ contactNumber | countrycode : 'USA' : true }}</h4>

<h4>String Reverse : {{ helloWorld | reverse }}</h4>

<hr>

<div class="row">
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="completed">Completed Task</option>
      <option value="pending">Pending Task</option>
    </select>
  </div>
  <div class="col-6">
    <button class="btn btn-success btn-block" (click)="onAddNewTodo()">
      Add New Todo
    </button>
  </div>
</div>

<br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todoCollection | filter : filteredStatus">
    <p>{{todo.label | uppercase}}
      <span class="badge badge-primary float-right">{{todo.status}}</span>
    </p>
  </li>
</ul>

</div>
