<header>
  <nav>
    <div class="row">
      <div class="col-10">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngIf="!isUserAuthenticated()">
            <a class="nav-link" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isUserAuthenticated()">
            <a class="nav-link" [routerLink]="['register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="isUserAuthenticated()">
            <a class="nav-link" [routerLink]="['users']">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['pipe-demo']">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['observable-demo']">Observable</a>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <button class="btn btn-link"
          (click)="onLogout()"
          *ngIf="isUserAuthenticated()">Logout</button>
      </div>
    </div>

  </nav>
</header>
