<div class="container">
  <app-header></app-header>

  <h5>User name in App Comp : {{ user.name }} </h5>

  <button class="btn btn-dark" (click)="onPureChange()">Pure Change</button>
  <button class="btn btn-primary" (click)="onImpureChange()">Impure Change</button>

  <app-change-detection-demoy [user]="user"></app-change-detection-demoy>

  <app-eagerly></app-eagerly>

  <router-outlet></router-outlet>
</div>

<!-- <p [innerText]="snippets"></p>

Angular Expr : {{ snippets }}

<br>
<a [href]="externalUrl">External URL</a>
<br>
<a [href]="safeUrl">Safe Url</a> -->

<!-- <button class="btn btn-dark" (click)="showComp = !showComp">Toggle Comp</button>

<app-life-cycle-demo *ngIf="showComp" [title]="title"></app-life-cycle-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-directive-demo></app-directive-demo> -->

<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-comp-one></app-comp-one>

<app-comp-two></app-comp-two> -->

<!-- <app-post></app-post> -->

<!-- <app-users *ngIf="isUserAuthenticated()"></app-users> -->

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-obs-pipeable-operators></app-obs-pipeable-operators> -->
